asgiref==3.2.7
cffi==1.14.0
Django==3.0.7
django-bootstrap4==2.0.1
django-braces==1.14.0
importlib-metadata==1.6.1
misaka==2.1.1
pycparser==2.20
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
zipp==3.1.0
